# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
ENV/
env/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# SQLite database
*.sqlite3
*.db
phishing_sim.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Exported CSVs
*.csv

# Misc
*.swp 